<header>
  <ul class="side-nav fixed {{ site.city_color }}">
    <li class="logo">
      <a href="/" class="logo-container">
        <img src="http://staystrap.github.io/img/logo_{{ site.logo_color }}.png">
      </a>
      <a href="{{ site.baseurl }}" class="{{ site.logo_color }}_text"><h4>{{ site.city }}</h4></a>
    </li>

    {% for page in site.pages %}
      {% if page.layout == 'article' %}
        <li class="bold"><a href="{{ page.url | prepend:site.baseurl }}" class="waves-effect waves-light {{ site.city_color2}}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    </li>
  </ul>

  <ul id="slide-out" class="side-nav {{ site.city_color }}">
    <li class="logo">
      <a href="/" class="logo-container">
        <img src="http://staystrap.github.io/img/logo_{{ site.logo_color }}.png">
      </a>
      <a href="{{ site.baseurl }}" class="{{ site.logo_color }}_text"><h4>{{ site.city }}</h4></a>
    </li>

    {% for page in site.pages %}
      {% if page.layout == 'article' %}
        <li class="bold"><a href="{{ page.url | prepend:site.baseurl }}" class="waves-effect waves-light {{ site.city_color2}}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

  <script type="text/javascript">
    $(".button-collapse").sideNav();
  </script>
</header>