.side-nav {
  font-family: "Adam" !important;
  text-transform: uppercase !important;

  h4 {
    padding: 10px;
  }

  ul {
    width: 350px;
  }

  li {
    text-align: center;
  }

  li.logo {
    margin-top: 32px;
    color: $sidebar-text-color;

    img {
      max-width: 180px;
    }
  }

  li:hover {
    background-color: #42a5f5 !important;
  }

  .logo:hover {
    background-color: transparent !important;
  }
}

.button-collapse {
  position: fixed;
  color: #fff;
  top: 2rem;
  left: 2rem;
  z-index: 100;
  font-size: 2rem;
}